<div style="width:320px; height:320px; margin:auto; padding:24px;">

    <IgbDataChart Width="100%" Height="100%">

        <IgbNumericXAxis Name="xAxis" MinimumValue="0" MaximumValue="7" />

        <IgbNumericYAxis Name="yAxis" MinimumValue="0" MaximumValue="10" />

        <IgbScatterSeries DataSource="@_dataSource"
                          XMemberPath="@nameof(SampleDataType.XValue)"
                          YMemberPath="@nameof(SampleDataType.YValue)"
                          XAxisName="xAxis"
                          YAxisName="yAxis"
                          MarkerTemplateScript="customMarkerTemplateFunc" />
        @*
        マーカーの描画をカスタマイズするため、MarkerTemplateScript パラメータに、igRegisterScript() JavaScript 関数で登録されるテンプレートスクリプト名を指定します。
        (このサンプルコードでは、wwwroot/customMakerTemplateFunc.js で定義・登録されています)
        *@

    </IgbDataChart>

</div>

@code {
    /// <summary>
    /// このサンプルプログラム用の、DataChart にプロットするデータ型です。<br/>
    /// よくある Scatter シリーズ向けの名前、X・Y の各軸用の値に加えて、描画されるマーカーの大きさを示す Volume とマーカーの色を示す Color を用意しました。
    /// </summary>
    public record SampleDataType(string Name, double XValue, double YValue, double Volume, System.Drawing.Color Color);

    /// <summary>
    /// サンプル表示のためのダミーデータです。
    /// </summary>
    private readonly IEnumerable<SampleDataType> _dataSource =
    [
      new (Name: "item1", XValue: 0, YValue: 2, Volume: 5.7, Color: System.Drawing.Color.Fuchsia),
      new (Name: "item2", XValue: 2, YValue: 5, Volume: 3.6, Color: System.Drawing.Color.MediumOrchid),
      new (Name: "item3", XValue: 3, YValue: 1, Volume: 2.3, Color: System.Drawing.Color.DarkViolet),
      new (Name: "item4", XValue: 4, YValue: 6, Volume: 8.5, Color: System.Drawing.Color.SlateBlue),
      new (Name: "item5", XValue: 6, YValue: 3, Volume: 4.2, Color: System.Drawing.Color.RoyalBlue),
    ];
}